body {
  background-image: url("../img/wild_flowers.png");
  background-attachment: fixed;
  height:100%;
  width: 100%;
  font-family: 'Coming Soon', cursive;
}
li {
  list-style: none;
  font-size: 1.5em;
}
.jumbotron {
  margin-top: 20px;
  background-color: rgba(204, 204, 204, 0.1);
  border: #44515A 4px dotted;
  border-radius: 20px;
}

.jumbotron h1 {
  color: #44515A;
  font-family: 'Indie Flower', cursive;  text-align: center;
  background-color: rgba(204, 204, 204, 0.1);
}
img {
  width: 50px;
  display: inline-block;
}
img:hover {
  width: 70px;
}
.nav-pills {
  width: 180px;
  padding: 10px;
  background-color: rgba(210,188,139, .5);
}
.nav-pills li a:hover {
  background-color: rgba(198,172,77, .8);
}
.nav-pills li a {
  font-size: 1.5em;
  color: #44515A;
}
select {
   margin-bottom: 10px;
    border: 1px solid #111;
   background: rgba(198,172,77, .8);
   width: 150px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;

}
#cart{
  background-color: rgba(54,46,43,.2);
  min-height: 200px;
  max-width: 200px;;
}
#pizza-size {
  display: none;
}
#add-items {
  display: none;
}
button {
  width: 100px;
  height:30px;
  border-radius: 10px;
  background-color: #44515A;
  color: white;
}
