body {
  background-image: url("../img/wild_flowers.png");
  background-position: fixed;
  height:100%;
  width: 100%;
}
.jumbotron {
  margin-top: 20px;
  background-color: rgba(204, 204, 204, 0.1);
  border: #181860 4px dotted;
  border-radius: 20px;
}

.jumbotron h1 {
  color: #181860;
  font-family: 'Indie Flower', cursive;  text-align: center;
  background-color: rgba(204, 204, 204, 0.1);
}
img {
  width: 50px;
  display: inline-block;
}
.nav-pills {
  width: 150px;
  padding: 10px;
  background-color: rgba(168,168,192, .5);
}
.nav-pills li a:hover {
  background-color: rgba(240,216,216, .8);
}
.nav-pills li a {
  font-size: 1.5em;
  color: #181860;
}
#pizza-size {
  display: none;
}
#add-items {
  display: none;
}
